openapi: 3.0.0
info:
  version: 1.0.0
  title: Metagamehub DAO Valuation API
  description: The Metagamehub DAO Valuation API provides you fair prices for NFTs, use our API to empower your apps.
  contact:
    email: camilo.alaguna@itrmachines.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
tags:
  - name: Sandbox
    description: API requests for getting land valuations for Sandbox
  - name: Decentraland
    description: API requests for getting land valuations for Decentraland
  - name: Fluf
    description: API requests for getting token valuations for Fluf
  - name: Somniun Space
    description: API requests for getting land valuations for Somniun
  - name: Otherside
    description: API requests for getting land valuations for Otherside
  - name: Crypto Voxels
    description: API requests for getting land valuations for Crypto Voxels

servers:
  - url: https://services.itrmachines.com

paths:
  /test/sandbox/map:
    get:
      tags:
      - Sandbox
      parameters:
      - in: query
        name: tokenId
        schema:
          type: integer
        required: false
        description: pass the land's tokenId for valuating your Land (optional)
      - in: query
        name: x
        schema:
          type: integer
        required: false
        description: x coordinate of the land, require the y parameter too (optional)
      - in: query
        name: y
        schema:
          type: integer
        required: false
        description: y coordinate of the land, require the x parameter too (optional)
      - in: query
        name: from
        schema:
          type: integer
        required: false
        description: pass the initial token from a list, require size (optional)
      - in: query
        name: size
        schema:
          type: integer
        required: false
        description: "pass how many lands are going to be requested (Limits: 2000 when reduced is true, 5000 othercase) (optional)"
      - in: query
        name: reduced
        schema:
          type: boolean
        required: false
        description: if true give less information about each token (optional)
      description: Get lands along their details and valuations        
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  tokenId:
                    type: string
                    example: 45
                  name:
                    type: string
                    example: LAND (-159, -204)
                  images:
                    type: object
                    properties:
                      image_url:
                        type: string
                        example: https://img.seadn.io/files/d53cc5cfa5702c7d347fa9f19503e7d6.jpg?h=1024&w=1024&auto=format
                      image_thumbnail_url:
                        type: string
                        example: https://img.seadn.io/files/d53cc5cfa5702c7d347fa9f19503e7d6.jpg?h=250&w=250&auto=format
                      image_original_url:
                        type: string
                        example: https://img.seadn.io/files/d53cc5cfa5702c7d347fa9f19503e7d6.jpg?h=128&w=128&auto=format
                      image_preview_url:
                        type: string
                        example: https://api.sandbox.game/lands/afc9cb8b-c281-46ad-b1ba-ebfd1cce3de0/v2/preview-500px-x-500px.jpg
                  opensea_link:
                    type: string
                    example: https://opensea.io/assets/ethereum/0x5cc5b05a8a13e3fbdb0bb9fccd98d38e50f90c38/45
                  external_link:
                    type: string
                    example: https://www.sandbox.game/en/lands/afc9cb8b-c281-46ad-b1ba-ebfd1cce3de0/
                  token_metadata:
                    type: string
                    example: https://api.sandbox.game/lands/45/metadata.json
                  predicted_price:
                    type: integer
                    example: 2.1985602407860347
                  eth_predicted_price:
                    type: integer
                    example: 2.363476837696573
                  floor_adjusted_predicted_price:
                    type: integer
                    example: 2.363476837696573
                  coords:
                    type: object
                    properties:
                      x:
                        type: integer
                        example: -159
                      y:
                        type: integer
                        example: -204
                  land_type:
                    type: string
                    example: Premium
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: integer
                          example: 1641616142000
                        time:
                          type: string
                          example: 2022-01-08 04:29:02
                        hash:
                          type: string
                          example: 0x7437ecf20cffbcd1a58575e5b3c4376914bb9a6075e9ad8920f8872e96922d9c
                        action:
                          type: string
                          example: Bought
                        price:
                          example: 0.25
                        eth_price:
                          example: 0.25  
                        symbol:
                          type: string
                          example: ETH
                        buyer:
                          type: string
                          example: 0x22742924e60a32736307138f6c4b79a11296932e
                        market:
                          type: string
                          example: OpenSea
                  variation_last_week:
                    example: 0
                  variation_last_four_weeks:
                    example: 0
                  variation_last_six_months:
                    example: 0
        '400':
          description: Land was not found
  /test/sandbox/globalData:
    get:
      tags:
      - Sandbox
      description: Get the global data of Sandbox lands collection            
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  one_hour_volume:
                    type: integer
                    example: 0
                  one_hour_change:
                    type: integer
                    example: 0
                  one_hour_sales:
                    type: integer
                    example: 0
                  one_hour_sales_change:
                    type: integer
                    example: 0
                  one_hour_average_price:
                    type: integer
                    example: 0
                  one_hour_difference:
                    type: integer
                    example: 0
                  six_hour_volume:
                    type: integer
                    example: 7.27
                  six_hour_change:
                    type: integer
                    example: 0.2552229013432783
                  six_hour_sales:
                    type: integer
                    example: 4
                  six_hour_sales_change:
                    type: integer
                    example: 0
                  six_hour_average_price:
                    type: integer
                    example: 1.8175
                  six_hour_difference:
                    type: integer
                    example: 1.4781999999999993
                  one_day_volume:
                    type: integer
                    example: 24.882800000000007
                  one_day_change:
                    type: integer
                    example: -0.2589331983202785
                  one_day_sales:
                    type: integer
                    example: 17
                  one_day_sales_change:
                    type: integer
                    example: 0.21428571428571427
                  one_day_average_price:
                    type: integer
                    example: 1.4636941176470593
                  one_day_difference:
                    type: integer
                    example: -8.694199999999991
                  seven_day_volume:
                    type: integer
                    example: 283.5078900000002
                  seven_day_change:
                    type: integer
                    example: -0.09764799883751953
                  seven_day_sales:
                    type: integer
                    example: 141
                  seven_day_average_price:
                    type: integer
                    example: 2.0106942553191502
                  seven_day_difference:
                    type: integer
                    example: -30.67979909999974
                  thirty_day_volume:
                    type: integer
                    example: 1567.7507129232447
                  thirty_day_change:
                    type: integer
                    example: -0.15426628920265065
                  thirty_day_sales:
                    type: integer
                    example: 838
                  thirty_day_average_price:
                    type: integer
                    example: 1.8708242397652084
                  thirty_day_difference:
                    type: integer
                    example: -285.9659982684907
                  total_volume:
                    type: integer
                    example: 159175.98232805321
                  total_sales:
                    type: integer
                    example: 92808
                  total_supply:
                    type: integer
                    example: 164188
                  count:
                    type: integer
                    example: 164188
                  num_owners:
                    type: integer
                    example: 22022
                  average_price:
                    type: integer
                    example: 1.715110575899203
                  num_reports:
                    type: integer
                    example: 5
                  market_cap:
                    type: integer
                    example: 330131.86839234066
                  floor_price:
                    type: integer
                    example: 1.3
  
  /test/sandbox/performance:
    get:
      tags:
      - Sandbox
      description: Get performance metrics of Sandbox lands collection            
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  MAPE:
                    type: integer
                    example: 0.21293554962594255
                  MedAPE:
                    type: integer
                    example: 0.144977888073684
                  R2:
                    type: integer
                    example: 0.8802916780057418
                  skewness:
                    type: integer
                    example: -1.0134453689983678
                  standard_deviation:
                    type: integer
                    example: 3.7086537236546318
                    
  /test/decentraland/map:
    get:
      tags:
      - Decentraland
      parameters:
      - in: query
        name: tokenId
        schema:
          type: integer
        required: false
        description: pass the land's tokenId for valuating your Land (optional)
      - in: query
        name: x
        schema:
          type: integer
        required: false
        description: x coordinate of the land, require the y parameter too (optional)
      - in: query
        name: y
        schema:
          type: integer
        required: false
        description: y coordinate of the land, require the x parameter too (optional)
      - in: query
        name: from
        schema:
          type: integer
        required: false
        description: pass the initial token from a list, require size (optional)
      - in: query
        name: size
        schema:
          type: integer
        required: false
        description: "pass how many lands are going to be requested (Limits: 2000 when reduced is true, 5000 othercase) (optional)"
      - in: query
        name: reduced
        schema:
          type: boolean
        required: false
        description: if true give less information about each token (optional)
      description: Get lands along their details and valuations        
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  tokenId:
                    type: string
                    example: 115792089237316195423570985008687907848846313895668364014433714111300142890917
                  name:
                    type: string
                    example: Parcel -14,-91
                  images:
                    type: object
                    properties:
                      image_url:
                        type: string
                        example: https://lh3.googleusercontent.com/1Q7tiWTv_nKRpHgsG1iATDVdp-eKIZuycQMKD9aIWXMNp96WNgI0AA3K7Cmx5Pnysnuc40NTcw-r89VAdroIhyr3HPt6oL884fBHGhA
                      image_preview_url:
                        type: string
                        example: https://lh3.googleusercontent.com/1Q7tiWTv_nKRpHgsG1iATDVdp-eKIZuycQMKD9aIWXMNp96WNgI0AA3K7Cmx5Pnysnuc40NTcw-r89VAdroIhyr3HPt6oL884fBHGhA=s250
                      image_thumbnail_url:
                        type: string
                        example: https://lh3.googleusercontent.com/1Q7tiWTv_nKRpHgsG1iATDVdp-eKIZuycQMKD9aIWXMNp96WNgI0AA3K7Cmx5Pnysnuc40NTcw-r89VAdroIhyr3HPt6oL884fBHGhA=s128
                      image_original_url:
                        type: string
                        example: https://api.decentraland.org/v1/parcels/-14/-91/map.png?size=24&width=1024&height=1024
                  opensea_link:
                    type: string
                    example: https://opensea.io/assets/0xf87e31492faf9a91b02ee0deaad50d51d56d5d4d/115792089237316195423570985008687907848846313895668364014433714111300142890917
                  external_link:
                    type: string
                    example: https://market.decentraland.org/contracts/0xf87e31492faf9a91b02ee0deaad50d51d56d5d4d/tokens/115792089237316195423570985008687907848846313895668364014433714111300142890917
                  token_metadata:
                    type: string
                    example: https://api.decentraland.org/v2/contracts/0xf87e31492faf9a91b02ee0deaad50d51d56d5d4d/tokens/115792089237316195423570985008687907848846313895668364014433714111300142890917
                  predicted_price:
                    type: integer
                    example: 4182.756102772209
                  eth_predicted_price:
                    type: integer
                    example: 2.115268278684138
                  floor_adjusted_predicted_price:
                    type: integer
                    example: 2.115268278684138
                  coords:
                    type: object
                    properties:
                      x:
                        type: integer
                        example: -14
                      y:
                        type: integer
                        example: -91
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: integer
                          example: 1641616142000
                        time:
                          type: string
                          example: 2022-01-08 04:29:02
                        hash:
                          type: string
                          example: "0x7437ecf20cffbcd1a58575e5b3c4376914bb9a6075e9ad8920f8872e96922d9c"
                        action:
                          type: string
                          example: Bought
                        price:
                          example: 0.25
                        eth_price:
                          example: 0.25  
                        symbol:
                          type: string
                          example: ETH
                        buyer:
                          type: string
                          example: 0x22742924e60a32736307138f6c4b79a11296932e
                        market:
                          type: string
                          example: OpenSea
                  variation_last_week:
                    example: 0
                  variation_last_four_weeks:
                    example: 0
                  variation_last_six_months:
                    example: 0
                  tile:
                    type: object
                    properties:
                      type:
                        type: integer
                        example: 7
                      top:
                        type: integer
                        example: 1
                  owner:
                    example: "0x9a6ebe7e2a7722f8200d0ffb63a1f6406a0d7dce"
        '400':
          description: Land was not found
  /test/decentraland/globalData:
    get:
      tags:
      - Decentraland
      description: Get the global data of Sandbox lands collection            
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  one_hour_volume:
                    type: integer
                    example: 0
                  one_hour_change:
                    type: integer
                    example: 0
                  one_hour_sales:
                    type: integer
                    example: 0
                  one_hour_sales_change:
                    type: integer
                    example: 0
                  one_hour_average_price:
                    type: integer
                    example: 0
                  one_hour_difference:
                    type: integer
                    example: 0
                  six_hour_volume:
                    type: integer
                    example: 7.27
                  six_hour_change:
                    type: integer
                    example: 0.2552229013432783
                  six_hour_sales:
                    type: integer
                    example: 4
                  six_hour_sales_change:
                    type: integer
                    example: 0
                  six_hour_average_price:
                    type: integer
                    example: 1.8175
                  six_hour_difference:
                    type: integer
                    example: 1.4781999999999993
                  one_day_volume:
                    type: integer
                    example: 24.882800000000007
                  one_day_change:
                    type: integer
                    example: -0.2589331983202785
                  one_day_sales:
                    type: integer
                    example: 17
                  one_day_sales_change:
                    type: integer
                    example: 0.21428571428571427
                  one_day_average_price:
                    type: integer
                    example: 1.4636941176470593
                  one_day_difference:
                    type: integer
                    example: -8.694199999999991
                  seven_day_volume:
                    type: integer
                    example: 283.5078900000002
                  seven_day_change:
                    type: integer
                    example: -0.09764799883751953
                  seven_day_sales:
                    type: integer
                    example: 141
                  seven_day_average_price:
                    type: integer
                    example: 2.0106942553191502
                  seven_day_difference:
                    type: integer
                    example: -30.67979909999974
                  thirty_day_volume:
                    type: integer
                    example: 1567.7507129232447
                  thirty_day_change:
                    type: integer
                    example: -0.15426628920265065
                  thirty_day_sales:
                    type: integer
                    example: 838
                  thirty_day_average_price:
                    type: integer
                    example: 1.8708242397652084
                  thirty_day_difference:
                    type: integer
                    example: -285.9659982684907
                  total_volume:
                    type: integer
                    example: 159175.98232805321
                  total_sales:
                    type: integer
                    example: 92808
                  total_supply:
                    type: integer
                    example: 164188
                  count:
                    type: integer
                    example: 164188
                  num_owners:
                    type: integer
                    example: 22022
                  average_price:
                    type: integer
                    example: 1.715110575899203
                  num_reports:
                    type: integer
                    example: 5
                  market_cap:
                    type: integer
                    example: 330131.86839234066
                  floor_price:
                    type: integer
                    example: 1.3
  /test/decentraland/performance:
    get:
      tags:
      - Decentraland
      description: Get performance metrics of Sandbox lands collection            
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  MAPE:
                    type: integer
                    example: 0.21293554962594255
                  MedAPE:
                    type: integer
                    example: 0.144977888073684
                  R2:
                    type: integer
                    example: 0.8802916780057418
                  skewness:
                    type: integer
                    example: -1.0134453689983678
                  standard_deviation:
                    type: integer
                    example: 3.7086537236546318
  
  
  /somnium-space/map:
    get:
      tags:
      - Somniun Space
      parameters:
      - in: query
        name: tokenId
        schema:
          type: integer
        required: false
        description: pass the land's tokenId for valuating your Land (optional)
      - in: query
        name: from
        schema:
          type: integer
        required: false
        description: pass the initial token from a list, require size (optional)
      - in: query
        name: size
        schema:
          type: integer
        required: false
        description: "pass how many lands are going to be requested (Limits: 2000 when reduced is true, 5000 othercase) (optional)"
      - in: query
        name: reduced
        schema:
          type: boolean
        required: false
        description: if true give less information about each token (optional)
      description: Get lands along their details and valuations        
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  tokenId:
                    type: string
                    example: 500
                  name:
                    type: string
                    example: Extra Large #500 (XL) parcel in Somnium Space
                  images:
                    type: object
                    properties:
                      image_url:
                        type: string
                        example: https://lh3.googleusercontent.com/Gc1ED0m-OBW9mkEIaKxLWGykAYgvyk7iCYVs5aWUxHDs8btv5ZnL35wz4s151f8t_SfbrEF7k-30x6EdBLL4ZG3S
                      image_thumbnail_url:
                        type: string
                        example: https://lh3.googleusercontent.com/Gc1ED0m-OBW9mkEIaKxLWGykAYgvyk7iCYVs5aWUxHDs8btv5ZnL35wz4s151f8t_SfbrEF7k-30x6EdBLL4ZG3S=s128
                      image_original_url:
                        type: string
                        example: https://somniumspace.com/images/opensea/Parcel_Image_500.png
                      image_preview_url:
                        type: string
                        example: https://lh3.googleusercontent.com/Gc1ED0m-OBW9mkEIaKxLWGykAYgvyk7iCYVs5aWUxHDs8btv5ZnL35wz4s151f8t_SfbrEF7k-30x6EdBLL4ZG3S=s250"
                  opensea_link:
                    type: string
                    example: https://opensea.io/assets/ethereum/0x913ae503153d9a335398d0785ba60a2d63ddb4e2/500
                  external_link:
                    type: string
                    example: https://map.somniumspace.com/explorer/500
                  token_metadata:
                    type: string
                    example: http://somniumspace.io/500
                  predicted_price:
                    type: integer
                    example: 0.0013022888057683186
                  eth_predicted_price:
                    type: integer
                    example: 3.0270093576364583
                  floor_adjusted_predicted_price:
                    type: integer
                    example: 3.0270093576364583
                  center:
                    type: object
                    properties:
                      x:
                        type: integer
                        example: -0.16557142857142876,
                      y:
                        type: integer
                        example: -0.135
                  geometry:
                    type: array
                    items:
                      type: object
                      properties:
                        x:
                          type: integer
                          example: -0.16557142857142876,
                        y:
                          type: integer
                          example: -0.135
                  land_type:
                    type: string
                    example: Premium
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: integer
                          example: 1641616142000
                        time:
                          type: string
                          example: 2022-01-08 04:29:02
                        hash:
                          type: string
                          example: 0x7437ecf20cffbcd1a58575e5b3c4376914bb9a6075e9ad8920f8872e96922d9c
                        action:
                          type: string
                          example: Bought
                        price:
                          example: 0.25
                        eth_price:
                          example: 0.25  
                        symbol:
                          type: string
                          example: ETH
                        buyer:
                          type: string
                          example: 0x22742924e60a32736307138f6c4b79a11296932e
                        market:
                          type: string
                          example: OpenSea
                  variation_last_week:
                    example: 0
                  variation_last_four_weeks:
                    example: 0
                  variation_last_six_months:
                    example: 0
        '400':
          description: Land was not found
  /somnium-space/globalData:
    get:
      tags:
      - Somniun Space
      description: Get the global data of Sandbox lands collection            
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  one_hour_volume:
                    type: integer
                    example: 0
                  one_hour_change:
                    type: integer
                    example: 0
                  one_hour_sales:
                    type: integer
                    example: 0
                  one_hour_sales_change:
                    type: integer
                    example: 0
                  one_hour_average_price:
                    type: integer
                    example: 0
                  one_hour_difference:
                    type: integer
                    example: 0
                  six_hour_volume:
                    type: integer
                    example: 7.27
                  six_hour_change:
                    type: integer
                    example: 0.2552229013432783
                  six_hour_sales:
                    type: integer
                    example: 4
                  six_hour_sales_change:
                    type: integer
                    example: 0
                  six_hour_average_price:
                    type: integer
                    example: 1.8175
                  six_hour_difference:
                    type: integer
                    example: 1.4781999999999993
                  one_day_volume:
                    type: integer
                    example: 24.882800000000007
                  one_day_change:
                    type: integer
                    example: -0.2589331983202785
                  one_day_sales:
                    type: integer
                    example: 17
                  one_day_sales_change:
                    type: integer
                    example: 0.21428571428571427
                  one_day_average_price:
                    type: integer
                    example: 1.4636941176470593
                  one_day_difference:
                    type: integer
                    example: -8.694199999999991
                  seven_day_volume:
                    type: integer
                    example: 283.5078900000002
                  seven_day_change:
                    type: integer
                    example: -0.09764799883751953
                  seven_day_sales:
                    type: integer
                    example: 141
                  seven_day_average_price:
                    type: integer
                    example: 2.0106942553191502
                  seven_day_difference:
                    type: integer
                    example: -30.67979909999974
                  thirty_day_volume:
                    type: integer
                    example: 1567.7507129232447
                  thirty_day_change:
                    type: integer
                    example: -0.15426628920265065
                  thirty_day_sales:
                    type: integer
                    example: 838
                  thirty_day_average_price:
                    type: integer
                    example: 1.8708242397652084
                  thirty_day_difference:
                    type: integer
                    example: -285.9659982684907
                  total_volume:
                    type: integer
                    example: 159175.98232805321
                  total_sales:
                    type: integer
                    example: 92808
                  total_supply:
                    type: integer
                    example: 164188
                  count:
                    type: integer
                    example: 164188
                  num_owners:
                    type: integer
                    example: 22022
                  average_price:
                    type: integer
                    example: 1.715110575899203
                  num_reports:
                    type: integer
                    example: 5
                  market_cap:
                    type: integer
                    example: 330131.86839234066
                  floor_price:
                    type: integer
                    example: 1.3
                    
  /somnium-space/performance:
    get:
      tags:
      - Somniun Space
      description: Get performance metrics of Sandbox lands collection            
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  MAPE:
                    type: integer
                    example: 0.21293554962594255
                  MedAPE:
                    type: integer
                    example: 0.144977888073684
                  R2:
                    type: integer
                    example: 0.8802916780057418
                  skewness:
                    type: integer
                    example: -1.0134453689983678
                  standard_deviation:
                    type: integer
                    example: 3.7086537236546318
                    
                    
  /fluf/collection:
    get:
      tags:
      - Fluf
      parameters:
      - in: query
        name: tokenId
        schema:
          type: integer
        required: false
        description: pass the land's tokenId for valuating your Land (optional)
      - in: query
        name: from
        schema:
          type: integer
        required: false
        description: pass the initial token from a list, require size (optional)
      - in: query
        name: size
        schema:
          type: integer
        required: false
        description: "pass how many lands are going to be requested (Limits: 2000 when reduced is true, 5000 othercase) (optional)"
      - in: query
        name: reduced
        schema:
          type: boolean
        required: false
        description: if true give less information about each token (optional)
      description: Get lands along their details and valuations        
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  tokenId:
                    type: string
                    example: 100
                  name:
                    type: string
                    example: null
                  images:
                    type: object
                    properties:
                      image_url:
                        type: string
                        example: https://ipfs.io/ipfs/QmRPeYpnR43yccb9ZExQqgmVMwXnhW5yNJHxy2W9vH2RZM
                      animation_url:
                        type: string
                        example: https://ipfs.io/ipfs/QmPhJ8uBUoyzmb7qDVP7gzrkNYCYuhb3XUqN5FnCHp7RYT
                      image_small:
                        type: string
                        example: https://fluf-compressed.s3.eu-west-1.amazonaws.com/QmRPeYpnR43yccb9ZExQqgmVMwXnhW5yNJHxy2W9vH2RZM_432_432.png
                      image_medium:
                        type: string
                        example: https://fluf-compressed.s3.eu-west-1.amazonaws.com/QmRPeYpnR43yccb9ZExQqgmVMwXnhW5yNJHxy2W9vH2RZM_864_864.png
                      image_large:
                        type: string
                        example: https://fluf-compressed.s3.eu-west-1.amazonaws.com/QmRPeYpnR43yccb9ZExQqgmVMwXnhW5yNJHxy2W9vH2RZM_1296_1296.png
                  predicted_price:
                    type: integer
                    example: 2.1985602407860347
                  eth_predicted_price:
                    type: integer
                    example: 2.363476837696573
                  floor_adjusted_predicted_price:
                    type: integer
                    example: 2.363476837696573
                  traits:
                    type: array
                    items:
                      type: object
                      properties:
                        traitType:
                          example: Sex
                        value:
                          example: Male
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: integer
                          example: 1640739956000
                        time:
                          type: string
                          example: 2021-12-29 01:05:56
                        hash:
                          type: string
                          example: "0x59686d67317a7b29a5050bc09722a9636b1add68ca10e001d96affde0a99a34d"
                        action:
                          type: string
                          example: Bought
                        price:
                          example: 1.8
                        eth_price:
                          example: 1.8  
                        symbol:
                          type: string
                          example: ETH
                        buyer:
                          type: string
                          example: "0xce2eefa06045900e6f8fb075e857d3b292cb616a"
                        market:
                          type: string
                          example: OpenSea
                  variation_last_week:
                    example: 0
                  variation_last_four_weeks:
                    example: 0
                  variation_last_six_months:
                    example: 0
        '400':
          description: Land was not found
  /fluf/globalData:
    get:
      tags:
      - Fluf
      description: Get the global data of Sandbox lands collection            
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  one_hour_volume:
                    type: integer
                    example: 0
                  one_hour_change:
                    type: integer
                    example: 0
                  one_hour_sales:
                    type: integer
                    example: 0
                  one_hour_sales_change:
                    type: integer
                    example: 0
                  one_hour_average_price:
                    type: integer
                    example: 0
                  one_hour_difference:
                    type: integer
                    example: 0
                  six_hour_volume:
                    type: integer
                    example: 7.27
                  six_hour_change:
                    type: integer
                    example: 0.2552229013432783
                  six_hour_sales:
                    type: integer
                    example: 4
                  six_hour_sales_change:
                    type: integer
                    example: 0
                  six_hour_average_price:
                    type: integer
                    example: 1.8175
                  six_hour_difference:
                    type: integer
                    example: 1.4781999999999993
                  one_day_volume:
                    type: integer
                    example: 24.882800000000007
                  one_day_change:
                    type: integer
                    example: -0.2589331983202785
                  one_day_sales:
                    type: integer
                    example: 17
                  one_day_sales_change:
                    type: integer
                    example: 0.21428571428571427
                  one_day_average_price:
                    type: integer
                    example: 1.4636941176470593
                  one_day_difference:
                    type: integer
                    example: -8.694199999999991
                  seven_day_volume:
                    type: integer
                    example: 283.5078900000002
                  seven_day_change:
                    type: integer
                    example: -0.09764799883751953
                  seven_day_sales:
                    type: integer
                    example: 141
                  seven_day_average_price:
                    type: integer
                    example: 2.0106942553191502
                  seven_day_difference:
                    type: integer
                    example: -30.67979909999974
                  thirty_day_volume:
                    type: integer
                    example: 1567.7507129232447
                  thirty_day_change:
                    type: integer
                    example: -0.15426628920265065
                  thirty_day_sales:
                    type: integer
                    example: 838
                  thirty_day_average_price:
                    type: integer
                    example: 1.8708242397652084
                  thirty_day_difference:
                    type: integer
                    example: -285.9659982684907
                  total_volume:
                    type: integer
                    example: 159175.98232805321
                  total_sales:
                    type: integer
                    example: 92808
                  total_supply:
                    type: integer
                    example: 164188
                  count:
                    type: integer
                    example: 164188
                  num_owners:
                    type: integer
                    example: 22022
                  average_price:
                    type: integer
                    example: 1.715110575899203
                  num_reports:
                    type: integer
                    example: 5
                  market_cap:
                    type: integer
                    example: 330131.86839234066
                  floor_price:
                    type: integer
                    example: 1.3
                    
  /fluf/performance:
    get:
      tags:
      - Fluf
      description: Get performance metrics of Fluf token collection            
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  MAPE:
                    type: integer
                    example: 0.10978361567693401
                  MedAPE:
                    type: integer
                    example: 0.08817564960972135
                  R2:
                    type: integer
                    example: 0.9035382030450994
                  skewness:
                    type: integer
                    example: -1.0022131690819704
                  standard_deviation:
                    type: integer
                    example: 12.59997541993592
                    
                    
                    
  /otherside/collection:
    get:
      tags:
      - Otherside
      parameters:
      - in: query
        name: tokenId
        schema:
          type: integer
        required: false
        description: pass the land's tokenId for valuating your Land (optional)
      - in: query
        name: from
        schema:
          type: integer
        required: false
        description: pass the initial token from a list, require size (optional)
      - in: query
        name: size
        schema:
          type: integer
        required: false
        description: "pass how many lands are going to be requested (Limits: 2000 when reduced is true, 5000 othercase) (optional)"
      - in: query
        name: reduced
        schema:
          type: boolean
        required: false
        description: if true give less information about each token (optional)
      description: Get lands along their details and valuations        
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  tokenId:
                    type: string
                    example: 10
                  name:
                    type: string
                    example: 10
                  images:
                    type: object
                    properties:
                      image_url:
                        type: string
                        example: https://assets.otherside.xyz/otherdeeds/ad21c256f6b2471b2f04593cbdfc4f2b5cdc14906395ce4fc27b65286f758ba6.jpg
                  opensea_link:
                    type: string
                    example: "https://opensea.io/assets/ethereum/0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258/10"
                  external_link:
                    type: string
                    example: "https://otherside.xyz/explore?id=10"
                  token_metadata:
                    type: string
                    example: "https://api.otherside.xyz/lands/10"
                  predicted_price:
                    type: integer
                    example: 1.4321976794104272
                  eth_predicted_price:
                    type: integer
                    example: 1.4321976794104272
                  floor_adjusted_predicted_price:
                    type: integer
                    example: 1.4321976794104272
                  traits:
                    type: array
                    items:
                      type: object
                      properties:
                        traitType:
                          example: Category
                        value:
                          example: Decay
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: integer
                          example: 1651453618000
                        time:
                          type: string
                          example: 2022-05-02 01:06:58
                        hash:
                          type: string
                          example: "0x081ea1271c8a6df5430616e70b6b5b2fdfd50103fa9d1d493b81a29dd1389924"
                        action:
                          type: string
                          example: Bought
                        price:
                          example: 1.8
                        eth_price:
                          example: 1.8  
                        symbol:
                          type: string
                          example: ETH
                        buyer:
                          type: string
                          example: "0xce2eefa06045900e6f8fb075e857d3b292cb616a"
                        market:
                          type: string
                          example: OpenSea
                  variation_last_week:
                    example: 0
                  variation_last_four_weeks:
                    example: 0
                  variation_last_six_months:
                    example: 0
        '400':
          description: Land was not found
  /otherside/globalData:
    get:
      tags:
      - Otherside
      description: Get the global data of Sandbox lands collection            
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  one_hour_volume:
                    type: integer
                    example: 0
                  one_hour_change:
                    type: integer
                    example: 0
                  one_hour_sales:
                    type: integer
                    example: 0
                  one_hour_sales_change:
                    type: integer
                    example: 0
                  one_hour_average_price:
                    type: integer
                    example: 0
                  one_hour_difference:
                    type: integer
                    example: 0
                  six_hour_volume:
                    type: integer
                    example: 7.27
                  six_hour_change:
                    type: integer
                    example: 0.2552229013432783
                  six_hour_sales:
                    type: integer
                    example: 4
                  six_hour_sales_change:
                    type: integer
                    example: 0
                  six_hour_average_price:
                    type: integer
                    example: 1.8175
                  six_hour_difference:
                    type: integer
                    example: 1.4781999999999993
                  one_day_volume:
                    type: integer
                    example: 24.882800000000007
                  one_day_change:
                    type: integer
                    example: -0.2589331983202785
                  one_day_sales:
                    type: integer
                    example: 17
                  one_day_sales_change:
                    type: integer
                    example: 0.21428571428571427
                  one_day_average_price:
                    type: integer
                    example: 1.4636941176470593
                  one_day_difference:
                    type: integer
                    example: -8.694199999999991
                  seven_day_volume:
                    type: integer
                    example: 283.5078900000002
                  seven_day_change:
                    type: integer
                    example: -0.09764799883751953
                  seven_day_sales:
                    type: integer
                    example: 141
                  seven_day_average_price:
                    type: integer
                    example: 2.0106942553191502
                  seven_day_difference:
                    type: integer
                    example: -30.67979909999974
                  thirty_day_volume:
                    type: integer
                    example: 1567.7507129232447
                  thirty_day_change:
                    type: integer
                    example: -0.15426628920265065
                  thirty_day_sales:
                    type: integer
                    example: 838
                  thirty_day_average_price:
                    type: integer
                    example: 1.8708242397652084
                  thirty_day_difference:
                    type: integer
                    example: -285.9659982684907
                  total_volume:
                    type: integer
                    example: 159175.98232805321
                  total_sales:
                    type: integer
                    example: 92808
                  total_supply:
                    type: integer
                    example: 164188
                  count:
                    type: integer
                    example: 164188
                  num_owners:
                    type: integer
                    example: 22022
                  average_price:
                    type: integer
                    example: 1.715110575899203
                  num_reports:
                    type: integer
                    example: 5
                  market_cap:
                    type: integer
                    example: 330131.86839234066
                  floor_price:
                    type: integer
                    example: 1.3
                    
  /otherside/performance:
    get:
      tags:
      - Otherside
      description: Get performance metrics of Fluf token collection            
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  MAPE:
                    type: integer
                    example: 0.10978361567693401
                  MedAPE:
                    type: integer
                    example: 0.08817564960972135
                  R2:
                    type: integer
                    example: 0.9035382030450994
                  skewness:
                    type: integer
                    example: -1.0022131690819704
                  standard_deviation:
                    type: integer
                    example: 12.59997541993592
                    
                    
  /cryptovoxels/map:
    get:
      tags:
      - Crypto Voxels
      parameters:
      - in: query
        name: tokenId
        schema:
          type: integer
        required: false
        description: pass the land's tokenId for valuating your Land (optional)
      - in: query
        name: from
        schema:
          type: integer
        required: false
        description: pass the initial token from a list, require size (optional)
      - in: query
        name: size
        schema:
          type: integer
        required: false
        description: "pass how many lands are going to be requested (Limits: 2000 when reduced is true, 5000 othercase) (optional)"
      - in: query
        name: reduced
        schema:
          type: boolean
        required: false
        description: if true give less information about each token (optional)
      description: Get lands along their details and valuations        
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  tokenId:
                    type: string
                    example: 10
                  name:
                    type: string
                    example: 63 Addy Gardens
                  images:
                    type: object
                    properties:
                      image_url:
                        type: string
                        example: https://lh3.googleusercontent.com/BqrZxxmPqRb_EXkeYUoKaRZKktYMh86PDFsasmzpD1-eMn69ARZdcwLVT4BHcEKHurQzOOQSiSAzYGPKEA9kl-UgJv3x_YO9YTQJ4N8
                      image_thumbnail_url:
                        type: string
                        example: https://lh3.googleusercontent.com/BqrZxxmPqRb_EXkeYUoKaRZKktYMh86PDFsasmzpD1-eMn69ARZdcwLVT4BHcEKHurQzOOQSiSAzYGPKEA9kl-UgJv3x_YO9YTQJ4N8=s128
                      image_original_url:
                        type: string
                        example: https://map.cryptovoxels.com/tile/parcel?x=0.31&y=-0.085
                      image_preview_url:
                        type: string
                        example: https://lh3.googleusercontent.com/BqrZxxmPqRb_EXkeYUoKaRZKktYMh86PDFsasmzpD1-eMn69ARZdcwLVT4BHcEKHurQzOOQSiSAzYGPKEA9kl-UgJv3x_YO9YTQJ4N8=s250
                  opensea_link:
                    type: string
                    example: https://opensea.io/assets/ethereum/0x79986af15539de2db9a5086382daeda917a9cf0c/10
                  external_link:
                    type: string
                    example: https://www.cryptovoxels.com/parcels/10
                  token_metadata:
                    type: string
                    example: https://www.cryptovoxels.com/p/10
                  predicted_price:
                    type: integer
                    example: 1.7636950017145936
                  eth_predicted_price:
                    type: integer
                    example: 1.7636950017145936
                  floor_adjusted_predicted_price:
                    type: integer
                    example: 1.7636950017145936
                  center:
                    type: object
                    properties:
                      x:
                        type: integer
                        example: 0.298,
                      y:
                        type: integer
                        example: -0.07200000000000001
                  geometry:
                    type: array
                    items:
                      type: object
                      properties:
                        x:
                          type: integer
                          example: -0.16557142857142876,
                        y:
                          type: integer
                          example: -0.135
                  land_type:
                    type: string
                    example: Premium
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: integer
                          example: 1614129045000
                        time:
                          type: string
                          example: 2021-02-24 03:10:45
                        hash:
                          type: string
                          example: "0xc135555036db4d5fae41f7973c5ccd3c135d80273664f71bf47398468cd214fe"
                        action:
                          type: string
                          example: Bought
                        price:
                          example: 90
                        eth_price:
                          example: 90  
                        symbol:
                          type: string
                          example: ETH
                        buyer:
                          type: string
                          example: 0x22742924e60a32736307138f6c4b79a11296932e
                        market:
                          type: string
                          example: OpenSea
                  variation_last_week:
                    example: 0
                  variation_last_four_weeks:
                    example: 0
                  variation_last_six_months:
                    example: 0
        '400':
          description: Land was not found
  /cryptovoxels/globalData:
    get:
      tags:
      - Crypto Voxels
      description: Get the global data of Sandbox lands collection            
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  one_hour_volume:
                    type: integer
                    example: 0
                  one_hour_change:
                    type: integer
                    example: 0
                  one_hour_sales:
                    type: integer
                    example: 0
                  one_hour_sales_change:
                    type: integer
                    example: 0
                  one_hour_average_price:
                    type: integer
                    example: 0
                  one_hour_difference:
                    type: integer
                    example: 0
                  six_hour_volume:
                    type: integer
                    example: 7.27
                  six_hour_change:
                    type: integer
                    example: 0.2552229013432783
                  six_hour_sales:
                    type: integer
                    example: 4
                  six_hour_sales_change:
                    type: integer
                    example: 0
                  six_hour_average_price:
                    type: integer
                    example: 1.8175
                  six_hour_difference:
                    type: integer
                    example: 1.4781999999999993
                  one_day_volume:
                    type: integer
                    example: 24.882800000000007
                  one_day_change:
                    type: integer
                    example: -0.2589331983202785
                  one_day_sales:
                    type: integer
                    example: 17
                  one_day_sales_change:
                    type: integer
                    example: 0.21428571428571427
                  one_day_average_price:
                    type: integer
                    example: 1.4636941176470593
                  one_day_difference:
                    type: integer
                    example: -8.694199999999991
                  seven_day_volume:
                    type: integer
                    example: 283.5078900000002
                  seven_day_change:
                    type: integer
                    example: -0.09764799883751953
                  seven_day_sales:
                    type: integer
                    example: 141
                  seven_day_average_price:
                    type: integer
                    example: 2.0106942553191502
                  seven_day_difference:
                    type: integer
                    example: -30.67979909999974
                  thirty_day_volume:
                    type: integer
                    example: 1567.7507129232447
                  thirty_day_change:
                    type: integer
                    example: -0.15426628920265065
                  thirty_day_sales:
                    type: integer
                    example: 838
                  thirty_day_average_price:
                    type: integer
                    example: 1.8708242397652084
                  thirty_day_difference:
                    type: integer
                    example: -285.9659982684907
                  total_volume:
                    type: integer
                    example: 159175.98232805321
                  total_sales:
                    type: integer
                    example: 92808
                  total_supply:
                    type: integer
                    example: 164188
                  count:
                    type: integer
                    example: 164188
                  num_owners:
                    type: integer
                    example: 22022
                  average_price:
                    type: integer
                    example: 1.715110575899203
                  num_reports:
                    type: integer
                    example: 5
                  market_cap:
                    type: integer
                    example: 330131.86839234066
                  floor_price:
                    type: integer
                    example: 1.3
                    
  /cryptovoxels/performance:
    get:
      tags:
      - Crypto Voxels
      description: Get performance metrics of Sandbox lands collection            
      responses:
        '200':
          description: Successful response
          content: 
            application/json:
              schema:
                type: object
                properties:
                  MAPE:
                    type: integer
                    example: 0.21293554962594255
                  MedAPE:
                    type: integer
                    example: 0.144977888073684
                  R2:
                    type: integer
                    example: 0.8802916780057418
                  skewness:
                    type: integer
                    example: -1.0134453689983678
                  standard_deviation:
                    type: integer
                    example: 3.7086537236546318